      body {
        background-color: #e5e6ff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      hr {
        height: 0px;   
        border-style: dotted none none; 
        width: 10%;
        border-color: blueviolet;
        border-width: 5px;  
      }

      h1 {
        color: orangered;
        text-align: center;
        background-color: aquamarine;
        transition: 0.3s;
      }

      h1:hover {
        transform:scale(1.1);
      }

      h2 {
        color: #A569BD;
        text-align: center;
        transition: 0.3s;
      }

      h2:hover {
        transform:scale(1.01);
      }

      h3 {
        color: #145A32;
        transition: 0.3s;
      }

      h3:hover {
        transform:scale(1.01);
      }

      p {
        background-color: greenyellow;
        /*transition: 0.3s;*/
      }
      /*p:hover {
        transform:scale(1.05);
      }*/

      img {
        background-color: #e4d5a8;
        border-style: groove;
        border-color: aquamarine;
        border-width: 10px;
        border-radius: 200px;
        transition: 0.3s;
        width:250px;
        height:250px;
      }

      img:hover {
        border-color: rgb(255, 202, 96);  
      }

      li {
        transition: 0.3s;
      }
      
      li:hover {
        transform:scale(1.01);
      }

      td {
        transition: 0.3s;
      }
      
      td:hover {
        transform:scale(1.03);
      }

      .intro:hover {
        transition: 1s;
      }

      .intro:hover {
        transform:scale(1.05);
      }

      .intro_geo:hover {
        transition: 1s;
      }

      .intro_geo:hover {
        transform:scale(1.05);
      }

      .work {
        background-color: aquamarine;
      }

      .skills {
        background-color: aquamarine;
      }
      

